/*----------------------------------------------*/
/*---------------------基础---------------------*/
/*----------------------------------------------*/
*{padding:0;margin:0;font-weight:normal;}
html,body{font-size:14px;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
body{background:#E3E7F0;overflow-x:hidden;line-height: 1.5;font-family:"Microsoft YaHei"/*,Helvitica,Verdana,Tohoma,Arial,san-serif*/;color:#333}
ul{list-style:none;}
em,i{font-style: normal;}
u {text-decoration:none;}
img {border:0; }
select,input{outline:none;}
a{color:#333;text-decoration:none;outline:none;}
a,input,select,textarea,*{-webkit-tap-highlight-color:rgba(0,0,0,0);}


body { background-color: #fff; font-size: 13px; line-height: 1.46em; }
body, div, ul, li, p, dt, dd, dl { padding: 0px; margin: 0px; list-style: none; }
img { width: 100%; }
.hide { display: none; }
.fr { float: right; }
.fl { float: left; }
i,em{font-style:normal;}
a { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; }


body { background-color: #fff; font-size: 13px; line-height: 1.46em; font-family: Verdana, Geneva, sans-serif,"微软雅黑"; }
body, div, ul, li, p, dt, dd, dl { padding: 0px; margin: 0px; list-style: none; }
img { width: 100%; }
.hide { display: none; }
.fr { float: right; }
.fl { float: left; }
a { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; }

.index-container { background:#0f6737 url(./image/bg.jpg) no-repeat; background-size: 100%; width: 100%; height: 100%; position:absolute; }
.index-container .anim-1 { position: relative; left: -80%; width: 80%;}
.index-container .anim-2 { position: relative; top: -100px; width: 10%; opacity: 0; }


.game-descr { padding: 10px;  position: absolute; bottom: 10px; width: 90%;}
.game-descr em { color:  black; font-style: normal;font-size:20px;line-height:1.5; font-weight:100;}
.game-descr span { font-size:10px; line-height:1.1;color:#757575;}
.copyright { font-size: 12px; color: #555; padding: 10px 0px; text-align: center; padding: 0 10px; }
.copyright span { font-size: 10px; }
.share { position: fixed; left: 0; bottom: 0; text-align: center; text-decoration: none; height: 38px; background-color: #d1213e; color: white; width: 100%; font-weight: bold; line-height: 38px; }

#sharePage { background:rgba(0,0,0,.6); width: 100%; height: 100%; position:fixed;top:0;left:0;}
#sharePage img{ position:absolute;top:10px;right:10px;width:auto;}
#sharePage .img { width: 100%; background:  url("./image/share.png") no-repeat; background-size: 100%; height: 100%; }


.pageHome{display:block;}


html, body{width:100%;height:100%;}
.swiper-container{height:100%;overflow:hidden;position:relative;}
.page_1{}
	.page_1 .mainBg{background-color:#fff;}
	.page_1 .mainBg .logo{text-align:right;position:relative;margin-top:8%;}
	.page_1 .mainBg .logo img{width:20%;margin-right:8%;}
	.page_1 .mainBg .font-1{text-align:center;position:relative;margin-top:10%;z-index:10;opacity:0;}
	.page_1 .mainBg .font-1 img:first-child{width:24%;z-index:5;position:relative;}
	.page_1 .mainBg .font-1 img:last-child{width:58%;margin-left:-3%;margin-bottom:2%;position:relative;z-index:4;}
	.page_1 .mainBg .font-2{text-align:center;position:relative;margin-top:-1%;z-index:9;opacity:0;}
	.page_1 .mainBg .font-2 img{width:80%;position:relative;}
	.page_1 .mainBg .font-3{position:absolute;bottom:0;z-index:5;width:100%;}
	.page_1 .mainBg .font-4{text-align:right;position:relative;margin-top:-43%;z-index:10;opacity:0;}
	.page_1 .mainBg .font-4 img{width:52%;margin-right:11%;}
	
	
	.page1_0{position:absolute;width:100%;z-index:10;}
	.page1_0 img{width:100%;}
	
	.page1_1{position:relative;z-index:15;padding:3% 7% 0;}
	.page1_1 > img{position:absolute;width:100%;top:0;}
	.page1_1 > div{position:relative;z-index:10;}
	.page1_1a{}
	.page1_1a img{width:32%;}
	.page1_1b{margin-top:2%;}
	.page1_1b img{width:100%;}
	.page1_1c{margin-top:-2%;}
	.page1_1c img{}
		.page1_1c_1{width:34%;margin-bottom:5%;margin-left:3%;}
		.page1_1c_2{width:52%;margin-left:-14%;position:relative;z-index:10;}
		.page1_1c_3{width:34%;margin-bottom:13%;margin-left:-11%;}
	.page1_1d{text-align:center;margin-top:-19%;}
	.page1_1d img{width:107%;margin-left:1%;margin-top:-11%;}
	
	.page1_2{position:absolute;width:100%;bottom:15px;z-index:20;}
	.page1_2 > img{position:absolute;width:100%;bottom:0;}
	.page1_2 > div{bottom:0;width:100%;text-align:center;}
	.page1_2a img{width:13%;}
	.page1_2b img{width:50%;position:relative;}
	
	.page1_3{position:absolute;width:100%;height:100%;bottom:-40px;z-index:5;}
	.page1_3 > img{position:absolute;width:100%;bottom:0;}

/*按钮动画*/
.page1_2a_1{
	-webkit-animation:p1_2a1Am 2s ease-in-out infinite;
	animation:p1_2a1Am 2s ease-in-out infinite;}
@-webkit-keyframes p1_2a1Am{
0%,20%,100%{-webkit-transform:scale(1)}
10%{-webkit-transform:scale(1.3)}
}
@keyframes p1_2a1Am{
0%,20%,100%{transform:scale(1)}
10%{transform:scale(1.3)}
}

/*南京字体动画*/
.page1_1bAm{opacity:0;
	-webkit-animation:p1_1bAm .6s 2.8s ease-in-out forwards;
	animation:p1_1bAm .6s 2.8s ease-in-out forwards;}
@-webkit-keyframes p1_1bAm{
	0% { -webkit-transform:scale(.1);opacity:0;}
	60% { -webkit-transform:scale(1.1);}
	100% { -webkit-transform:scale(1);opacity:1;}
}
@keyframes p1_1bAm{
	0% { transform:scale(.1);opacity:0;}
	60% { transform:scale(1.1);}
	100% { transform:scale(1);opacity:1;}
}
/*汽车动画*/
.page1_1dAm{ transform:translateX(100%);-webkit-transform:translateX(100%);
	-webkit-animation:p1_1dAm 1s .2s ease-in-out forwards;
	animation:p1_1dAm 1s .2s ease-in-out forwards;}
@-webkit-keyframes p1_1dAm{
0%{-webkit-transform:translateX(100%) scale(0);opacity:0;}
70%{-webkit-transform:translateX(-3%) scale(1.1);opacity:.8;}
100%{-webkit-transform:translateX(0) scale(1);opacity:1;}
}
@keyframes p1_1dAm{
0%{transform:translateX(100%) scale(0);opacity:0;}
70%{transform:translateX(-3%) scale(1.1);opacity:.8;}
100%{transform:translateX(0) scale(1);opacity:1;}
}
/*海报动画*/
.page1_1c_1Am{ transform:translateY(-10%);-webkit-transform:translateY(-10%);opacity:0;
	-webkit-animation:p1_1c1Am .8s 1.8s linear forwards;
	animation:p1_1c1Am .8s 1.8s linear forwards;}
.page1_1c_3Am{ transform:translateY(-10%);-webkit-transform:translateY(-10%);opacity:0;
	-webkit-animation:p1_1c1Am .8s 2s linear forwards;
	animation:p1_1c1Am .8s 2s linear forwards;}
.page1_1c_2Am{ transform:translateY(-10%);-webkit-transform:translateY(-10%);opacity:0;
	-webkit-animation:p1_1c1Am .8s 1.2s linear forwards;
	animation:p1_1c1Am .8s 1.2s linear forwards;}
@-webkit-keyframes p1_1c1Am{
0%{-webkit-transform:translateY(-10%);opacity:0;}
100%{-webkit-transform:translateY(0);opacity:1;}
}
@keyframes p1_1c1Am{
0%{transform:translateY(-10%);opacity:0;}
100%{transform:translateY(0);opacity:1;}
}

/*加载*/
	.load{background-color:rgba(0,0,0,1);opacity:0.8;width:100%;height:100%;position:fixed;left:0;top:0;z-index:10000;}
	.load5 {
	  margin: -45px auto 0;
	  width: 90px;
	  height: 90px;
	  position: relative;
	  top:50%;
	  text-align: center;
	  -webkit-animation: rotate 2.0s infinite linear;
	  animation: rotate 2.0s infinite linear;
	}
	.dot1, .dot2 {
	  width: 60%;
	  height: 60%;
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  background-color: #67CF22;
	  border-radius: 300px;
	  -webkit-animation: bounce 2.0s infinite ease-in-out;
	  animation: bounce 2.0s infinite ease-in-out;
	}
	.dot2 {
	  top: auto;
	  bottom: 0px;
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}
	@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
	@-webkit-keyframes bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}
	@keyframes bounce {
	  0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	  } 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	  }
	}
	

.bottom{line-height:1.2;font-family:"Microsoft YaHei";font-size:11px;position:fixed;bottom:0;left:0;width:100%;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
	.bottom h3{font-size:16px;padding-bottom:5px; color:white;}
	.bottom p{color:#7e8186;}

