html,div,body,p,h1,h2,h3,ul,li,span,b,em {padding: 0; margin: 0}
body {background: #334138 url("image/bg.png") no-repeat; background-size: 100%;}

.hide { display: none; }
ul li {list-style: none;}
a { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; }

footer.footer { width: 100%; position: absolute; left: 0; bottom: 0; background: url("image/foot.png") no-repeat;
    background-size: 100%; z-index: 99; padding-top: 20px;}
footer > div.block-1 { width: 37%; height: 100%; float: left;}
footer > div.block-2 { width: 21%; height: 100%; float: left;}
div.block-2 .btn-1 { background: url("image/btn_1.png") no-repeat; background-size: 100%; width: 90%; height: 100%; }
div.block-2 .btn-1.active {background: url("image/btn_1_selected.png") no-repeat; background-size: 100%; }
div.block-2 .btn-2 { background: url("image/btn_2.png") no-repeat; background-size: 100%; width: 90%; height: 100%; }
div.block-2 .btn-2.active {background: url("image/btn_2_selected.png") no-repeat; background-size: 100%; }
div.block-2 .btn-3 { background: url("image/btn_3.png") no-repeat; background-size: 100%; width: 90%; height: 100%; }
div.block-2 .btn-3.active {background: url("image/btn_3_selected.png") no-repeat; background-size: 100%; }
div.block-1 .number { background: url("image/number.png") no-repeat; background-size: 100%; height: 100%; width: 90%;
    margin-left:10%; position: relative;}
div.block-1 .number .count { position: absolute; right: 50%; font-size: 40px; color: white; font-weight: normal;
    font-style: italic; top: 18%;}

html,body { width: 100%; height: 100%; overflow: hidden; position: relative; min-height: 480px;}
.index { width: 100%; height: 100%; position: relative;}
.index-share { width: 20%; position: absolute; top: 10px; right: 10px; }
.index-share img { width: 100%;}
.index-play { position: absolute; bottom: 0; left: 20%; width: 60%;}
.index-play img { width: 100%; }
.index-play.active {-webkit-animation:shake 3s;animation:shake 3s; }
.index .footer-car { position: absolute; right: 0; width: 30%; z-index: 100;}
.index .footer-car img { width: 100%;}

.show { width: 100%; height: 100%;  z-index: 102; position: absolute; left: 0; top: 0}
.show .show-bg { width: 100%; position: absolute; left: 0; top: 10%;}
.show .show-bg img{ width: 100%; }
.show .show-bg.active {-webkit-animation:rotates 2s; animation:rotates 2s; }
.show .show-center { width: 24%; position: absolute; left: 38%; top: 10%; background: url("image/show.png") no-repeat;
        background-size: 100%; height: 80%;}
.show .show-center p { text-align: center; width: 40px; font-size: 30px; padding-top: 60px; position: relative;
        left: 50%; margin-left: -20px; color: #62381b;}
.show .show-icon { background-size: 100%; position: absolute; }
.show .show-icon img {width: 100%;}
.show .icon-1 { width: 7%; left: 65%; top:12%; }
.show .icon-2 { width: 4%; left: 72%; top:15%; }
.show .icon-3 { width: 7%; left: 25%; top:50%; }
.show .icon-4 { width: 4%; left: 32%; top:48%; }

.success { width: 84%; height: 90%; background: url("image/dialog_1.png") no-repeat; background-size: 100%;
    position: absolute; left: 8%; top: 5%; z-index: 102; padding-top: 1%}
.success .title { width: 100%; line-height: 40px; color: #ffffff; text-align: center; font-weight: bold; font-size: 20px;}
.success h1, .success h2 { width: 100%; padding-top: 10px; text-align: center; color: #000000; font-size: 20px; font-weight: bold;}
.success h1 span { color: red;}
.success .line { border-bottom: 4px solid #6b412d; width: 80%; margin-left: 10%; margin-top: 20px;}
.success .line span { color: white; background: #6b412d; border-radius: 4px; font-size: 12px; padding: 5px;}
.success .ipt { width: 70%; margin-left: 15%; background: #cccccc; border-radius: 20px; margin-top: 20px; }
.success .ipt input { width: 90%; border: none; padding-left: 5%; background: transparent; outline: none; height: 30px; line-height: normal;}
.success .btn { width: 70%; margin-left: 15%; padding-top: 10px;}
.success .btn a { background: url("image/btn_bg.png") no-repeat; background-size: 100%; color: white; padding: 10px 0; float: left;
        font-size: 14px; font-weight: bold; text-decoration: none; display: block;width: 45%; text-align: center; margin-right: 5%;}

.fail { width: 84%; height: 90%; background: url("image/dialog_1.png") no-repeat; background-size: 100%;
    position: absolute; left: 8%; top: 5%; z-index: 102; padding-top: 1%}
.fail .title { width: 100%; line-height: 40px; color: #ffffff; text-align: center; font-weight: bold; font-size: 20px;}
.fail h1 { width: 100%; padding-top: 10px; text-align: center; color: #000000; font-size: 20px; font-weight: bold;}
.fail .fail-img { width: 28%; background: url("image/fail-img.png") no-repeat; background-size: 100%; height: 25%;
        margin-top: 5%; margin-left: 36%;}
.fail .btn { width: 70%; margin-left: 15%; padding-top: 10px;}
.fail .btn a { background: url("image/btn_bg.png") no-repeat; background-size: 100%; color: white; padding: 10px 0; float: left;
    font-size: 14px; font-weight: bold; text-decoration: none; display: block; width: 45%; text-align: center; margin-left: 28%;}

.overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.5; background: #000000; z-index: 100;}

.page-dialog { width:84%; position: absolute; z-index: 98; background: url("image/dialog_2.png") no-repeat;
        background-size: 100%; height: 85%; top: 15%; left: 8%;}
.page-dialog .title{ width: 100%; padding-top: 10px; color: #ffffff; text-align: center;
    font-weight: bold; font-size: 20px; }
.page-dialog .close { width: 10%; position: absolute; right: 15px; top: 5px;}
.page-dialog .close img { width: 100%;}
.page-dialog .page-container { width: 76%; padding-left: 12%; max-height: 55%; overflow-y: auto; color: #000000;
            line-height: 24px; font-size: 14px; font-weight: bold; margin-top: 10px; overflow-x: hidden;}

.page-dialog .page-container .wrap { width: 100%; margin-bottom: 5px;}
.page-dialog .page-container .wrap h1 { font-size: 14px; color: #000000; font-weight: bold;}
.page-dialog .page-container .wrap .ipt { width: 100%;  margin-top: 5px;}
.page-dialog .page-container .wrap .ipt-used { width: 80%;  margin-top: 5px; background: #cccccc;
    border-radius: 20px; text-align: center; color: white;}
.page-dialog .page-container .wrap .ipt input { width: 60%; border: none; padding-left: 5%;
    background: #cccccc; border-radius: 20px; outline: none; height: 30px; line-height: normal;}
.page-dialog .page-container .wrap .ipt a { width: 30%; background: url("image/btn_5.png") no-repeat; background-size: 100%;
    float: right; text-align: center; color: white; line-height: 30px; font-weight: bold; text-decoration: none; margin-top: 2px;}
/*动画*/

#sharePage { background:rgba(0,0,0,.7); width: 100%; height: 100%; position:fixed;top:0;left:0;text-align:right;z-index:200; }
#sharePage .img { width: 100%; background:  url("./image/share.png") no-repeat right 15px; height: 100%; background-size:100% auto; display:inline-block;width:240px;margin-right:25px;}


@-webkit-keyframes shake{

    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    0% {-webkit-transform:rotate(0deg) translateZ(0)}
    10% {-webkit-transform:rotate(-20deg) translateZ(0)}
    20% {-webkit-transform: rotate(20deg) translateZ(0)}
    30% {-webkit-transform: rotate(-20deg) translateZ(0)}
    40% {-webkit-transform:rotate(20deg) translateZ(0)}
    50% {-webkit-transform: rotate(-20deg) translateZ(0)}
    60% {-webkit-transform: rotate(20deg) translateZ(0)}
    70% {-webkit-transform:rotate(-20deg) translateZ(0)}
    80% {-webkit-transform: rotate(20deg) translateZ(0)}
    90% {-webkit-transform: rotate(-20deg) translateZ(0)}
    100% {-webkit-transform: rotate(0deg) translateZ(0)}
}
@keyframes shake{
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    0% {transform:rotate(0deg) translateZ(0)}
    10% {transform:rotate(-20deg) translateZ(0)}
    20% {transform: rotate(20deg) translateZ(0)}
    30% {transform: rotate(-20deg) translateZ(0)}
    40% {transform:rotate(20deg) translateZ(0)}
    50% {transform: rotate(-20deg) translateZ(0)}
    60% {transform: rotate(20deg) translateZ(0)}
    70% {transform:rotate(-20deg) translateZ(0)}
    80% {transform: rotate(20deg) translateZ(0)}
    90% {transform: rotate(-20deg) translateZ(0)}
    100% {transform: rotate(0deg) translateZ(0)}
}

@-webkit-keyframes rotates{
    0% {-webkit-transform:rotate(0deg) translateZ(0)}
    25% {-webkit-transform:rotate(180) translateZ(0)}
    50% {-webkit-transform:rotate(360deg) translateZ(0)}
    75% {-webkit-transform: rotate(540deg) translateZ(0)}
    100% {-webkit-transform: rotate(720deg) translateZ(0)}
}
@keyframes rotates{
    0% {transform:rotate(0deg) translateZ(0)}
    25% {transform:rotate(-10deg) translateZ(0)}
    75% {transform: rotate(10deg) translateZ(0)}
    100% {transform: rotate(0deg) translateZ(0)}
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}