<!DOCTYPE html>
<html lang="en" xmlns:wb=“http://open.weibo.com/wb”>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <meta name="author" content="{{ site.author.name }}"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/assets/themes/twitter/bootstrap/css/bootstrap.2.3.2.cerulean.min.css" rel="stylesheet"/>
    <link href="/assets/themes/twitter/css/style.css" rel="stylesheet"/>

    <script src="/assets/js/seajs/sea.js"></script>
    <script src="/assets/js/config.js"></script>

    <link href="/atom.xml" rel="alternate" title="Atom Rss" type="application/atom+xml" />

    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" charset="utf-8"></script>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                </ul>
                <a href="/atom.xml" class="rss-icon" title="订阅"> </a>
                <form action="https://google.com/search" class="navbar-search pull-left" method="get" target="_blank">
                    <input type="text" name="q" placeholder="搜嘎～" class="search-query span2"/>
                    <input type="hidden" name="q" value="site:caolvchong.github.io"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="content">
        {{ content }}
    </div>

    <div class="box friend-links">
        <p>友情链接</p>
        <ul>
            <li class="name"><a href=""  target="_blank" rel="nofollow">seajs</a></li>
            <li class="name"><a href=""  target="_blank" rel="nofollow">gazira</a></li>
            <li class="name"><a href="" target="_blank">grunt</a></li>
            <li class="name"><a href="" target="_blank">bootstrap</a></li>
            <li class="name"><a href="" target="_blank">jquery</a></li>
        </ul>
    </div>

    <footer>
        <p>
            &copy; {{ site.author.name }} &nbsp;2013
            <wb:follow-button uid="1644259427" type="red_2" width="136" height="24" ></wb:follow-button>
        </p>
    </footer>

</div>
<!-- /container -->

{% include JB/analytics %}
</body>
</html>
